@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<SimpleEcommerceAspNet6.Data.Product>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách Sản Phẩm" + CurrentPage;
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}
<div class="page-header d-flex justify-content-between">
    <div class="header-sub-title col-md-6">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Manager" asp-controller="DashBoard" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>DashBoard</a>
            <a asp-area="Manager" asp-controller="ManageProducts" asp-action="Index" class="breadcrumb-item">Danh Sách Sản Phẩm</a>    
            
        </nav>
    </div>
    <div class="w-25">
        <input id="productKeyword" name="productKeyword" type="text" class="form-control form-control-sm" placeholder="Tìm Kiếm Sản Phẩm">
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select asp-items="ViewBag.Categories" id="selectedCateId" name="selectedCateId" class="custom-select" style="min-width: 180px;">
                            <option value="0">Chọn danh mục</option>
                            
                        </select>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a asp-area="Manager" asp-controller="ManageProducts" asp-action="Create"  class="btn btn-info">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm Sản Phẩm Mới </span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                       
                        <th>ID</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price(VNĐ)</th>
                        <th>Discount(VNĐ)</th>
                        <th>Stock Left</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if(Model != null){
                        @foreach(var product  in Model)
                        {
                            <tr>
                                <td>
                                    @product.ProductId
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" style="max-width: 60px" src="~/images/products/@product.Thumbnail" />
                                        
                                        <h6 class="m-b-0 m-l-10">@product.ProductName</h6>
                                    </div>
                                </td>
                                <td>@product.category?.CategoryName</td>
                                <td>@product.Price.ToString("#,##0")</td>
                                <td>@product.Discount?.ToString("#,##0")</td>
                                <td>@product.UnitInStock</td>
                                @if (product.Active)
                                {
                                    <td>
                                        <span class="badge badge-pill badge-cyan">Active</span>
                                    </td>

                                }
                                else
                                {
                                    <td>
                                        <span class="badge badge-pill badge-red">Disable</span>
                                    </td>
                                }
                                <td>
                                    <div class="dropdown dropdown-animated scale-left">

                                        <i type="button" class="anticon anticon-ordered-list" dropdown-toggle" data-toggle="dropdown">
                                        </i>
                                        <div class="dropdown-menu">
                                            <a asp-area="Manager" asp-controller="ManageProducts" asp-action="Details" asp-route-ProductId="@product.ProductId" class="text-decoration-none mx-2 dropdown-item" style="color:black">
                                                <i class="anticon anticon-select">Details</i>
                                            </a>
                                            <a asp-area="Manager" asp-controller="ManageProducts" asp-action="Edit" asp-route-ProductId="@product.ProductId" class="text-decoration-none mx-2 dropdown-item" style="color:black">
                                                <i class="anticon anticon-edit">Edit</i>
                                            </a>
                                            <a asp-area="Manager" asp-controller="ManageProducts" asp-action="Delete" asp-route-ProductId="@product.ProductId" class="text-decoration-none mx-2 dropdown-item" style="color:black">
                                                <i class="anticon anticon-delete">Delete</i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Manager" asp-controller="ManageProducts" asp-route-CategoryId="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var selectedCategoryId = localStorage.getItem('selectedCategoryId');
            if (selectedCategoryId) {
                $('#selectedCateId').val(selectedCategoryId);
            }

            $("#selectedCateId").change(function () {
                var catID = $(this).val();
                catID = parseInt(catID);
                $.ajax({
                    url: '/Manager/ManageProducts/FiltterProductByCategory',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CategoryId: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            localStorage.setItem('selectedCategoryId', catID);
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $("#productKeyword").keyup(function () {
                var strkeyword = $('#productKeyword').val();
                
                $.ajax({
                    url: '/Manager/ManageProducts/FindProduct',
                    datatype: "json",
                    type: "POST",
                    data: { keywordProduct: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}
